<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/Empleados">
        Gestionar Informacion Reparador
    </a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">          
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">
                        
                        Registro Reparador
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="text">Cedula</label>
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <label for="text">Nombre</label>
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <label for="text">Apellido</label>
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <label for="text">Edad</label>
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <label for="text">Genero</label>
                            <select class="form-control" id="Genero" name="Genero">
                                <option>Seleccione un genero</option>
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select>
                            <br>
                        </div>
                        

                        <button class="btn btn-primary">
                            Registrar
                        </button>

                    </div>

                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        

    </div>
